:root{
    --second-font: 'Raleway', sans-serif;
    --accent-color: #2196F3;
    --title-color: #212121;
    --description-color: #757575;
    --main-color: #FFFFFF;
    --cubic: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body{
    font-family: 'Roboto', sans-serif;
      font-size: 14px; 
      letter-spacing: 0.03em;

      color: #212121;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px;
}

img{
    display: block;
}

.list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.link{
    text-decoration: none;
}

.link:hover, .link:focus{
    color: var(--accent-color);

    transition: var(--cubic);
}

.btn:hover, .btn:focus{ 
    background: #188CE8;

    transition: var(--cubic);
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    /* outline: 2px solid red;
    outline-offset: -2px;   */
}

/* header */

.header-container{
    display: flex;
}

.header-nav{
    display: flex;
    align-items: center;
}

/* logo */

.nav{
    background: var(--main-color) ;

    border-bottom: 1px solid #ECECEC;
}

.logo-nav{
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;

    display: block;
    margin-right: 93px;
    padding: 24px 0;
}
   
.first-part{
    color: var(--accent-color)
}   

.last-part{
    color: var(--title-color)
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    color: var(--title-color);

    display: block;

    padding: 32px 0;

    position: relative;
}

.nav-item:not(:last-child){ 
    margin-right: 50px;
}

.link-current{
    color: var(--accent-color)
}

.contacts-list{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contact-link{
    font-weight: 500;
    letter-spacing: 0.02em; 

    color: var(--description-color);

    display: flex;
    align-items: center;

    padding: 32px 0;

}

.nav-link.link-current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-color);
}

.contacts-item{
    display: block;
}

.contacts-item:not(:last-child) {
    margin-right: 50px;

    color: #757575;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);

    transition: var(--cubic);
}

.contacts-icon{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;

    fill: currentColor;
}

/* hero */

.hero{
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0;    
}

.hero-title{
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--main-color);
}

.hero-btn{
    display: flex;

    min-width: 216px;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    text-align: center;

    color: var(--main-color);
    background: var(--accent-color);

    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    border-radius: 4px;
    border: none;
}

/* features */

.picture-list{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
}

.picture-item{
    display: flex;
    align-items: center;
}

.thumb{
    width: 270px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #F5F4FA;
    border-radius: 4px;  

    margin-bottom: 30px;
}

.features-icon{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.features{
    padding: 94px 0;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}    

.features-list{
    display: flex;

    margin: 0px;  
}

.features-title{
    margin-bottom: 10px;

    font-weight: 700; 
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;

    color: var(--title-color)
}

.features-item{
    width: 270px;
}

.features-item:not(:last-child) {
    margin-right: 30px;
}

.features-text{
    line-height: calc(24 / 14);

    color: var(--description-color)
}

    /* works */ 

.works{
    padding-bottom: 94px;
}

.title{
    margin-bottom: 50px;
}

.works-list{
    display: flex;
    flex-wrap: wrap;

    padding: 0;

    gap: 30px;
}

.wrapper{
    position: relative;
}

.overlay-box{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    background-color: rgba(47, 48, 58, 0.8);
}

.overlay-text{
    font-weight: 700;
    font-size: 14px;

    text-align: center;
    text-transform: uppercase;
    
    color: var(--main-color);

    padding: 27px 0;
    
}
    /* team */

.team{
    background: #F5F4FA;

    padding: 94px 0;
}


.title-list{
    display: flex;

    gap: 30px;
}

.title{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color)
}

.team{
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
}  

.team-title{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;

    color: var(--title-color)
}

.team-text{
    color: var(--description-color)
}

.title-item{
    width: 370px;

    flex-basis:calc((100% - 30px * 3) / 4) ;

    border-radius: 0px 0px 4px 4px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: none;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.bottom-card{
    padding-top: 30px;
    padding-bottom: 30px;
}

.socials{
    display: flex;
    justify-content: center;

    gap: 10px;
    margin-top: 16px;
}

.socials-link{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    color: #AFB1B8;
    background-color: var(--main-color);

    border-radius: 50%;
}

.socials-link:hover,
.socials-link:focus {
    color: var(--main-color);
    background: var(--accent-color);

    transition: var(--cubic);
}

.socials-icon{
    fill: currentColor;
}

    /* portfolio */

    /* btn */

.btns{
    padding-top: 94px;
}

.btn-item{
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.filter-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);
    background: #F5F4FA;
    border: none;
    border-radius: 4px;

    cursor: pointer;

    padding: 6px 22px;
}

.filter:not(:last-child) {
    margin-right: 8px;
}

.filter-btn:hover, .filter-btn:focus {
    color: var(--main-color);
    background: var(--accent-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

    transition: var(--cubic);
}

/* projects */

.projects-list{
    display: flex;
    flex-wrap: wrap;
}

.projects-item{

    flex-basis: calc((100% - 30px * 3) / 4);
    width: 370px;

    border-radius: 0px 0px 4px 4px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: none;

    margin-right: 30px;
    margin-bottom: 30px;
}

.projects-item:focus,
.projects-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

    transition: var(--cubic);
}

.projects-item:nth-child(3n) {
    margin-right: 0;
}

.projects-item:nth-last-child(-n + 3) {
    margin-bottom: 94px;
}

.overlay-product{
    position: relative;
    overflow: hidden;
}

.overlay-projects{
    position: absolute;
    display: inline;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);

    transition: var(--cubic);
}

.projects-item:hover .overlay-projects {
    background: rgba(33, 150, 243, 0.9);

    transform: translateY(0);

    transition: var(--cubic);

}
.overlay-transcription{
    position: absolute;
    background-color: rgba(33, 150, 243, 0.9);

    padding: 63px 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;

    color: var(--main-color);

}
.projects-title{
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;

    color: var(--title-color);

    margin-bottom: 4px;
}    

.bottom-cards{
    padding: 20px 24px;
}

.projects-text{
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;

    color: var(--description-color)
}

/* clients */

.clients{
    padding: 94px 0;
}

.clients-title{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;}

.clients-list{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
}

.clients-link{
    width: 170px;
    height: 92px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    color: #AFB1B8;
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);

    transition: var(--cubic);
}

.clients-icon{
    fill: currentColor;
}

/* footer */

/* logo-footer */

.footer{ 
    background: #2F303A;

    padding: 60px 0;
}

.footer-container{
    display: flex;
    align-items: baseline;
}

.logo-footer{
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;

    display: block;

    margin-bottom: 20px;
}

.logo-bottom{
    padding-top: 60px;
    margin-bottom: 20px;
}

.logo-first{
    color: var(--accent-color)
}

.logo-last{
    color: var(--main-color)
}

.address{
    font-style: normal;
}

.address-item:not(:last-child) {
   margin-bottom: 9px; 
}

.address-link{
    color: var(--main-color)
}

.mail-link, .tel-link {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.join-in{
    margin-left: 70px;
}

.join-social{
    display: flex;
    align-items: center;

    gap: 10px;
    margin-top: 20px;
}

.join{
    margin-right: 156px;
    width: 116px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-color);
}

.join-link{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    color: var(--main-color);
    background-color: rgba(255, 255, 255, 0.1);
    
    border-radius: 50%;
}

.join-link:hover,
.join-link:focus {
    color: var(--main-color);
    background: var(--accent-color);

    transition: var(--cubic);
}

.join-icon{
    fill: currentColor;
}

/* modal-window */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;
    pointer-events: initial; 

    transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden{
opacity: 0;
visibility: hidden;
pointer-events: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    min-height: 581px;

    background: var(--main-color);
    border-radius: 4px;

    transition: transform 250ms ease-in-out;
}

.backdrop.is-hidden .modal{
    transform: translateX(-50%) translateY(-65%);  
}

.close{
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    padding: 0;

    border-radius: 50%;
    border:  1px solid rgba(0, 0, 0, 0.1);
    background: transparent;

    cursor: pointer;

}